extends layout.pug
block content
  h2 Settings #{settings.isLocked() ? ' [Locked]' : ''}
  form(action=baseUrl, method='post')
    h3 Directories
    ul#directories
      unless settings.read('directories') === null
        each directory, index in settings.read('directories')
          li
            if settings.isLocked()
              | #{directory}
            else
              input(name='directories.'+index, value=directory)
              button.directory-delete(type='button') x
    unless settings.isLocked()
      button#directory-add(type='button')
        | Add
      button(type='submit') Save
  hr
  unless settings.isLocked()
    form(action=baseUrl+'/lock', method='post')
      button(type='submit') Lock
  form(action=baseUrl+'/reload', method='post')
    button(type='submit') Reload from disk
  script(type='text/javascript').
    const dirAddBtn = document.getElementById('directory-add');
    if (dirAddBtn) {
      dirAddBtn.addEventListener('click', function() {
        const ul = document.getElementById("directories");
        const li = document.createElement("li");
        li.innerHTML = `
          <input name="directories.${ul.childNodes.length}"></input>
          <button type="button" class="directory-delete">x</button>
        `;
        ul.appendChild(li);
      }, false);
    }
    document.getElementById('directories').addEventListener('click', function(event) {
      if (event.target.tagName === 'BUTTON' && event.target.classList.contains('directory-delete')) {
        event.target.parentElement.parentElement.removeChild(event.target.parentElement);
      }
    }, false);
